@import url(
    'https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1:wght@900&family=Jua&display=swap');
.nav-item{
    font-family: 'Gothic A1', sans-serif;
}
.text{
    font-family:'Black Han Sans', sans-serif;
    color: rgb(91, 91, 95);
    font-size: 45px;

}



